<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
</head>
<body>
<main>


        <header class="ui inverted pink center aligned vertical segment">
            <a href="/">
                <div class="ui huge header">

                    <img src="{% static 'integral.svg' %}" alt="Интеграл" width="30" height="60"/>
                    <span>Образовательный проект по подготовке к коллоквиуму</span>
                </div>
            </a>
        </header>
<div class = "ui segment">
        <div class="ui raised segment" id="title-box">
            <div class="content">
                <!--<img src="{% static 'limit.png' %}" alt="Предел" width="350" height="50" align="right" /> -->
                <h1 class="ui huge header">{% block page-title %}{% endblock %}</h1>
                <p class="content">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© MIPT 2023</footer>
    </div>
</main>
</body>
</html>