{% extends "base_page.html" %}

{% block page-title %}
Введение в математический анализ
{% endblock %}

{% block page-lead %}
<div class="ui horizontal segments">
  <div class="ui center aligned segment">
    <p>
        Сайт в помощь студентам 1 курса МФТИ, изучающим базовый математический анализ. <br/>
        Здесь вы найдете:
    </p>

    <div class="ui vertical buttons">
      <a href="/materials"><button class="ui button"> Программу к коллоквиуму</button></a>
      <a href="/materials"><button class="ui button"> Информацию по билетам</button></a>
      <a href="/test"><button class="ui button"> Тест для самопроверки</button></a>
      <a href="/add-term"><button class="ui button"> Раздел для вопросов преподавателю</button></a>
        <a href="/questions"><button class="ui button"> Примеры дополнительных вопросов</button></a>
    </div>
  </div>
  <div class="ui center aligned segment">
    <p>
        <img src="/static/putana.jpg" alt="Предел" width="340" height="230" align="center" />
    </p>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="ui horizontal segments">
  <div class="ui segment">

    <div class="ui card">
      <div class="image">
        <img src="/static/dogs.jpg">
      </div>
      <div class="content">
        <div class="header">Материалы для подготовки</div>
        <div class="description">
          В этом разделе можно найти вопросы к коллоквиуму,
            ссылки на литературу, список возможных доплнительных вопросов на сдаче и другие материалы.
        </div>
      </div>
        <a href="/materials">
            <div class="ui inverted segment">
                <button class="fluid ui bottom attached inverted pink button">Изучить</button>
            </div>
        </a>
    </div>
  </div>
  <div class="ui segment">

    <div class="ui card">
      <div class="image">
        <img src="/static/test_1.png">
      </div>
      <div class="content">
        <div class="header">Тест</div>
        <div class="description">
            Для проверки и закрепления выученного материала можно использовать этот тест,
            который соответствует программе билетов.
        </div>
      </div>
        <a href="/test">
            <div class="ui inverted segment">
                <button class="fluid ui bottom attached inverted pink button">Пройти</button>
            </div>
        </a>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui card">
      <div class="image">
        <img src="/static/test.jpg">
      </div>
      <div class="content">
        <div class="header">Результаты теста</div>
        <div class="description">
        Для самопроверки доступны результаты и ответы к вопросам теста.
        </div>
      </div>
        <a href="/test-result">
            <div class="ui inverted segment">
                <button class="fluid ui bottom attached inverted pink button">Просмотреть</button>
            </div>
        </a>
    </div>
  </div>
    <div class="ui segment">
    <div class="ui card">
      <div class="image">
        <img src="/static/vopros.jpg">
      </div>
      <div class="content">
        <div class="header">Вопросы</div>
        <div class="description">
        Если при подготовке у вас возникли сложности вы можете оставить свой вопрос
            на сайте и преподаватель ответит на него.
        </div>
      </div>
        <a href="/add-term">
            <div class="ui inverted segment">
                <button class="fluid ui bottom attached inverted pink button">Задать</button>
            </div>
        </a>
    </div>
  </div>
</div>

<div class="ui inverted center aligned raised segment">
  <h1 class="ui pink inverted huge header">Как проходит коллоквиум?</h1>
</div>
<div class="ui center aligned very padded text container segment">
    <p>
            <span class="fst-italic">Коллоквиум</span> - традиционное испытание на 1 курсе. Оно проводится со времен основания института.
            Обычно коллоквиум проходит в октябре. Он необходим для иллюстрации процедуры экзамена на зимней сессии.
            Часто у первокурсников помимо трудностей с освоением программы возникает еще и множество формальных вопросов
            о процедуре коллоквиума. Ответы на них собраны ниже на этой странице.
    </p>
</div>

<div class="ui raised inverted violet center aligned very padded text container segment">
  <h3 class="ui large header">Кто принимает?</h3>
    <p>
        Обычно коллоквиум принимает ваш семинарист. Возможны и другие семинаристы вашего потока.
    </p>
</div>

<div class="ui raised inverted pink center aligned very padded text container segment">
  <h3 class="ui large header">Где проходит сдача?</h3>
    <p>
        В небольшой семинарской аудитории, возможно во время вашего семинара в расписании.
    </p>
</div>

<div class="ui raised inverted violet center aligned very padded text container segment">
  <h3 class="ui large header">Как происходит общение с преподавателем?</h3>
    <p>
        После 40 минут подготовки вас уже может взять преподаватель. Сначала он будет смотреть на доказательство билета и задавать вопросы на понимание по ходу беседы. Если этот этап пройден
      успешно, далее последуют вопросы на уровне определений или базовые задачи из курса. Определения
      не ограничиваются темой вашего билета и могут быть из всей программы. Примеры задач для дополнительных
      вопросов можно посмотреть по <a href='/questions'><button class="ui black button">ссылке</button></a>
    </p>
</div>

<div class="ui raised inverted pink center aligned very padded text container segment">
  <h3 class="ui large header">Сколько длится сдача?</h3>
    <p>
        Время очень будет зависеть от принимающего, обычно оно не меньше получаса, в исключительных
        случаях может достигать даже 6 часов.
    </p>
</div>

<div class="ui inverted center aligned raised segment">
  <h1 class="ui pink inverted huge header">Ещё немного лайфхаков</h1>
</div>

<div class="ui raised segment">
<div class="ui accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Для тренировки студенты старших курсов организовывают "предколлок", где можно потренироваться
            в общении по билету, попробовать свои силы. Старшекурсники также помогают разобраться в непонятных темах.
                <p>
                Информация о встречах публикуется в группах ВК.
                </p>
  </div>
  <div class="content">
    <p class="transition hidden"></p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
  Желающие пощекотать нервы и составить впечатление о принимающих заранее могут почитать отзывы о
                преподавателях на известном всем физтехам <a href="https://wiki.mipt.tech/index.php/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0">
                викимипте.</a><br>
                Стоит сказать, что действительно полезные советы там будет сложно найти, но общая оценка обычно
                    соответствует действительности.

  </div>
  <div class="content">
    <p></p>
  </div>
</div>
</div>
    <p style="text-align: center;">
  	<img src="static/vse_ok.jpg" alt="Все получится!">
    </p>
</div>
{% endblock %}


