{% extends "base_page.html" %}

{% block page-title %}
Варианты дополнительных вопросов
{% endblock %}
<!--
{% block page-lead %}

{% endblock %}
-->
{% block content %}
<div class="container">

        <ol type="1">
            <li> Задание
                <p>
                Могут спросить типовые задачи из вашего <a href="https://old.mipt.ru/education/chair/mathematics/process/zima/progs23.php">
                задания</a>.
                </p>
            </li>
            <li> Примеры из лекций
                <ul>
                    <li><a href="https://www.youtube.com/playlist?list=PLthfp5exSWEr0uO1NZu-jUdx06NF6PO3A">
                        Лекции Иванова</a></li>
                    <li><a href="https://www.youtube.com/playlist?list=PLthfp5exSWErnSpIish59VJyC5lSKnKMp">
                        Лекции Тюленева</a></li>
                    <li><a href="https://www.youtube.com/playlist?list=PLthfp5exSWEqUgni0Yqmj8Q-P8coWGCIB">
                        Лекции Голубева</a></li>
                    <li><a href="https://www.youtube.com/playlist?list=PLocvKxfon41UMdduSk5yx--JjZWZG7yfc">
                        Лекции Петровича</a></li>
                </ul>
            </li>
             <li> Контрпримеры
                <p>
                В темах на сходимость много типовых задач на связь непрерывности и сходимости, на них обязательно
                    нужно знать ответы. Обратите внимание на эти теоремы в лекциях.
                </p>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=hTeQYFJ189c">
                        Примеры задач</a></li>
                    <li><a href="https://www.youtube.com/watch?v=6w2kMeKSXp4&list=PLthfp5exSWEpNdsBN_z-WJbW4IYcJo8rG">
                        Разбор на семинарах</a></li>
                </ul>
             </li>
             <li> Методички от студентов студентам
                <ul>
                    <li><a href="https://vk.com/t_p_phystech">
                        ТПФ</a></li>
                    <li><a href="https://vk.com/tupoy_skat">
                        Тупой скат</a></li>
                </ul>
            </li>
        </ol>

    <p style="text-align: center;">
  	<img src="static/need_to_know.jpg" alt="Это нужно знать" width="500" height="450">
    </p>
</div>
{% endblock %}


