{% extends "base_page.html" %}

{% block page-title %}
Вопросы преподавателю
{% endblock %}

{% block page-lead %}
В этом разделе вы можете задать вопрос на тему, которую не получается разобрать самостоятельно. Вопрос будет
перенаправлен преподавателю и разобран на личной консультации. Если вы хотите задать вопрос анонимно,
вы можете нажать кнопку ниже.
{% endblock %}

{% block content %}
<a href="/anon">
        <div class="ui violet top attached button" tabindex="0">
            <h3>Задать вопрос анонимно</h3>
        </div>

</a>

<div class="ui attached raised segment" id="term-form">
    <form class="ui form" method="post">

        <div>
            <h2>Ваши контактные данные</h2>
        </div>
        <div class="field">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван Иванов" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h2>Ваш вопрос</h2>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term">Тема:</label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Вопрос:</label>
                <textarea type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Постарайтесь сформулировать вопрос ёмко</div>
            </div>
        </div>
     <button type="submit" class="fluid ui circular button" formaction="/send-term"><h3>Отправить вопрос</h3></button>
    </form>
</div>



<div class="ui segment" id="terms-table">
    <div class="table-responsive">
        <table class="ui celled table">
          <thead>
            <tr>
              <th scope="col" class="py-3">Студент</th>
              <th scope="col" class="py-3">Тема вопроса</th>
              <th scope="col" class="py-3">Вопрос</th>
            </tr>
          </thead>
          <tbody>
            {% for user_name, term, definition in terms %}
            <tr>
                <td class="py-3">{{ user_name }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ definition }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
