{% extends "base_page.html" %}
{% block page-title %}
Вопросы преподавателю
{% endblock %}

{% block page-lead %}
Раздел для тех, кто пожелал остаться анонимным.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваш вопрос</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term">Тема</label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Вопрос</label>
                <textarea type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Формулируйте ваш вопрос ёмко, при необходимости с вами свяжутся для уточнения деталей</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-anon">Отправить</button>
        </div>
    </form>
</div>
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">Студент</th>
              <th scope="col" class="py-3">Тема вопроса</th>
              <th scope="col" class="py-3">Вопрос</th>
            </tr>
          </thead>
          <tbody>
            {% for user_name, term, definition in terms %}
            <tr>
                <td class="py-3">{{ user_name }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ definition }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
