{% extends "base_page.html" %}
{% block page-title %}
Вопросы преподавателю
{% endblock %}

{% block page-lead %}
В этом разделе вы можете задать вопрос на тему, которую не получается разобрать самостоятельно. Вопрос будет
перенаправлен преподавателю, и будет разобран на личной консультации.
{% endblock %}


{% block content %}
{% if success %}
<div class="ui raised inverted green center aligned very padded text container segment">
  <h2 class="pb-2 border-bottom">
        Вопрос принят
  </h2>
    <h2 class="pb-2 border-bottom">Результат запроса</h2>
    <p>Уважаемый пользователь <span class="fst-italic">{{ user }}</span>,<br/>
        Ваш запрос завершился <span class="fw-bold">успешно</span>.
    </p>
    <h2 class="pb-2 border-bottom">Вы можете задать <a href="/add-term">вопрос</a> ещё раз</h2>
</div>
{% else %}
<div class="ui raised inverted red center aligned very padded text container segment">
  <h2 class="pb-2 border-bottom">
        Ошибка добавления
  </h2>
    <h2 class="pb-2 border-bottom">Результат запроса</h2>
    <p>Уважаемый пользователь <span class="fst-italic">{{ user }}</span>,<br/>
        Ваш запрос завершился <span class="fw-bold">ошибкой</span>.
    </p>
    <h2 class="pb-2 border-bottom">Попробуйте задать <a href="/add-term">вопрос</a> ещё раз</h2>
</div>
{% endif %}
{% endblock %}
